@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.hero {
    height: 30rem;
    background-color: $color-lightgrey;
    background-size: cover;
    background-position: center center;


    @include at-media("tablet") {
        height: 40vw;
    }
}