@import "./variables.scss";
@import "./breakpoints.scss";

/************************************************

TABLE OF CONTENTS
TOC 01 - Home
TOC 02 - Contact
TOC 03 - Post Detail

*************************************************/

/************************************************
TOC 01 - Home - START
************************************************/



/************************************************
TOC 01 - Home - END
************************************************/

/************************************************
TOC 02 - Contact - START
************************************************/

.contact-page {
    padding-top: 0;

    .hero {
        height: 50vh;
        background: $color-lightgrey;
    }
}

/************************************************
TOC 02 - Contact - END
************************************************/

/************************************************
TOC 03 - Post Detail - START
************************************************/

.post-detail {
    padding: 0 0 100px;

    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid var(--offwhite);

        &.sm {
            width: 50px;
            height: 50px;
        }
    }
}

/************************************************
TOC 03 - Post Detail - END
************************************************/