$color-darkgrey: #252931;
$color-medgrey: #42454C;
$color-lightgrey: #9A9B9F;
$color-offwhite: #f6f6f6;
$color-red: #d33628;
$color-white: #fff;

$border-radius-lg: 10px;
$border-radius-md: 5px;
$border-radius-sm: 3px;
$border-thickness: 4px;

$column-gap: 5vw;
$grid-gap: 30px;
$section-padding: 100px;

$letter-spacing-lg: .08em;
$letter-spacing: .03em;

$fontsize-md: 1.5em;
$fontsize-sm: 1em;
$fontsize-xs: .875em;
$fontsize-xxs: .75em;

$fontweight-bold: 700;
$fontweight-medium: 500;
$fontweight-normal: 400;
$fontweight-light: 300;